.pacinfocont{
    color: #FFFFFF;
    background-color: #12346e;
    padding: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.pacinfocont p{
    font-size: large;
    border-bottom: #5068918e 2px solid;
}

.pacinfocont p span{
    font-size: large;
    font-weight: bold;
}